@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    
}

.newspaper-container {
    background-color: white;
    box-shadow: 2px 2px 2px #ddd;
    width: 700px;
    padding: 1em;
    margin: 5em auto ;
    border-radius: 1%;
}

h5 {
    color: #dd3232;
}

a {
    color: #777;
    text-decoration: none;
}

li {
    display: inline-block;
    padding: 0em .75em;
    font-size: .75em;
    font-family: source sans pro;
    margin: ;

}

h1 {
    text-align: center;
    font-family: abril fatface;
}

nav {
    background-color: white;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    position: sticky;
    top: 0px;
}

h2 {
    font-family: roboto slab;
    padding: 0em 2em 0em 0em
}

.date {
    font-family: source sans pro;
}

main {
    border-bottom: 1px solid #777;
    padding: 0em 1em 1em 0em;
}

main p {
    font-family: source sans pro;
    text-align: justify;
    padding: .5em
}

main img {
    width: 43.5em
}

.more-articles {
    width: 100%;
    display: inline-flex;
    padding: 0em 1em;
    font-family: source sans pro;
  }

  .more-articles h4{
    font-family: roboto slab;
  }

  .more-articles p {
    margin-right: 4em;
    margin-left: 1em;
    text-align: justify;
  }
